/* src/styles/custom.css */
html, body {
  height: auto;
  overflow-y: auto;
  margin: 0;
}

/* 2. Desktop Only: Lock the screen */
@media (min-width: 768px) {
  html, body {
    height: 100%;
    overflow: hidden;
  }
  

}

/* 3. Ensure cards look good on mobile */

:root {
  --neon-blue: #3b82f6;
  --neon-purple: #a855f7;
  --dark-bg: #030712;
}

body {
  background-color: #ffff;
  color: white;
  font-family: 'Inter', sans-serif;
}

.bento-card {
  backdrop-filter: blur(10px);
  border-radius: 1.2rem;
}

