@import "tailwindcss";

@theme {
  --color-primary: rgb(var(--theme-rgb));
  --color-contrast: rgb(var(--contrast-rgb));
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --theme-rgb: 21 18 38;
  --contrast-rgb: 230 230 255;
}

/* --- SCROLLBAR CUSTOMIZATION --- */

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(var(--contrast-rgb)) transparent;
  border-radius: 10px;

  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--contrast-rgb), 0.8);
}

/* For Firefox */
.scrollbar-visible {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #eee;
}


.label-font {
  font-size: 10px;
  font-weight: 600;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}