@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3b82f6;
  --theme-rgb: 21 18 38;
  --contrast-rgb: 230 230 255;
  background-color: rgb(var(--theme-rgb));
  color: rgb(var(--contrast-rgb));
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}